@model Alllive.Models.Message
    <div class="chat-msg-wrapper">
        <div class="chat-bubble @(Model.SenderID == ViewBag.myUserID ? "left":"right")">
            <em>@Model.TimeStamp.ToString("MM/dd/yyyy hh:mm tt")</em>
            <br />
            <div>
                @Model.Message1
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
