@model IEnumerable<UserAccount>

<div class="row">
    <div class="col-md-3">
        <h5>Add Additonal Payment Method &nbsp; <a class="btn btn-primary" href="@Url.Action("AddAccount","Billing")"><i class="fa fa-plus"></i></a></h5>

    </div>
    <div class="col-md-4">
        <div>Payment Methods</div>

        @foreach (var account in Model)
        {
    <div class="row single-card-row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            @*//3 = american express/diners club 4= visa 5 = master 6= discover*@
            @if (account.CardType == "3")
            {
                <i class="fa fa-cc-amex fa-3x" aria-hidden="true"></i>
            }
            @if (account.CardType == "4")
            {
                <i class="fa fa-cc-visa fa-3x" aria-hidden="true"></i>
            }
            @if (account.CardType == "5")
            {
                <i class="fa fa-cc-mastercard fa-3x" aria-hidden="true"></i>
            }
            @if (account.CardType == "6")
            {
                <i class="fa fa-cc-discover fa-3x" aria-hidden="true"></i>
            }

        </div>
        <div class="col-md-4" style="padding-top: 1em">
            @account.AccountName
        </div>
        <button class="btn btn-danger" onclick="accountDelete_Click(@account.UserAccountID)"><i class="fa fa-trash" style="padding-top: 1em"></i></button>

    </div>
        }
    </div>
</div>

