@model IEnumerable<PaymentMethodViewModel>
@*//@model IEnumerable<UserAccount>*@

<div class="row">
    <div class="col-md-3">
        <h5>Add Additonal Payment Method &nbsp; <a class="btn btn-primary" href="@Url.Action("AddAccount","Billing")"><i class="fa fa-plus"></i></a></h5>

    </div>
    <div class="col-md-4">
        <div>Payment Methods</div>

        @foreach (var account in Model)
        {
            <div class="row single-card-row">
                <div class="col-md-4"></div>
                <div class="col-md-8">

                    <i class="fa fa-cc-visa" aria-hidden="true">
                    </i>
                    @account.AccountName

                    <button class="btn btn-danger" onclick="accountDelete_Click(@account.UserAccountID)"><i class="fa fa-trash"></i></button>

                </div>
            </div>
        }
    </div>
</div>

