
@{
    ViewBag.Title = "JoinMeeting";
}

<h2>JoinMeeting</h2>
@using(Html.BeginForm("Submit", "", "")) {
    <div class="container">
        <div class="row">
            Meeting ID
            <input type="text" id="meetingID" name="meetingID" />
            <button>Join</button>
        </div>
    </div>
}


