
@{
    ViewBag.Title = "OnlineYoga";
}

<h2>Online Childrens Yoga</h2>
@Html.Label("Schedule a class!")
<button>Schedule</button>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p>
                Owner and certified children's yoga instructor, Amy M. Starkey, combines over 20 years of  pediatric occupational therapy experience into each yoga session to create a truly therapeutic, sensory- based, trauma-informed class,   uniquely tailored to your child or group's needs!

            </p>
            <p>
                <img src="~/Images/Amy.png" />
            </p>

        </div>
        <div class="col-md-8">
            <img src="~/Images/yogakid.png" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <p>
                In each virtual class, your child will learn sensory-based movement games, yoga poses, calming breathes, self-regulation & mindfulness, and relaxation activities, all promoting better focus, inner calm, body awareness, stress management, attention, emotional self-regulation & health!

            </p>

        </div>
        <div class="col-md-4">
            <p>
                Our classes empower students to feel and think their best!!!  During each class, students learn how to use various yoga and calming techniques to implement on their own as needed throughout the day in order to improve behavior, mood, focus, concentration and self confidence. Students practice fun and easy self-regulation strategies, while also learning invaluable social-emotional tools in each class!

            </p>

        </div>
    </div>
</div>
